<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PracticeConnectionString" connectionString="Data Source=localhost;Initial Catalog=Practice;Persist Security Info=True;User ID=dr;Password=8888" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>